*{
    margin: 0;
    padding: 0;
}




.nav-left{
  display: flex;
  justify-content: center;
  margin-right: 50px;
  gap:42px;
}
form{
    justify-self: center;
    background-color: green;
    margin-top: 4ex;
    width: 80%;
    height:500px;
}